body{
    box-sizing: border-box;
    max-width: 60%;
    margin: auto;
}
header{
    margin-top: 1rem;
    text-align: center;
    border: 2px solid black;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 0 ;
    border-bottom: 2px solid gray;
}
li{
    list-style-type: none;
    display: inline;
    padding: 1rem;
    vertical-align: middle;
}
.active{
    position: relative;
}
.tab.active::after{
    content: "";
    background-color: #2F80ED;
    width: 50%;
    height: 5px;
    position: absolute;
    bottom: -1px;
    transform: translateX(-120%);
    border-radius: 4px 4px 0 0;
}
.match{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}
.sub-header{
    display: flex;
    justify-content: space-between;
}
.player{
    display: flex;
    justify-content: space-between;
}